body{
    width: 96%
}
#Info{
    text-align: center;
}
img{
    width: 250px;
    height: 300px;
    margin-left: 30%;
}
i::before{
    padding-right: 10px;
}
i{
    padding-right: 10px;
}
#info2{
    display: flex;
    justify-content: flex-start ;
}
#photo{
    border-right: solid 2px black;
}
#DATS{
    margin-top: 17px;
}
#Empleo{
    padding-right: 40px;
    color: darkcyan;
}
#deseo{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}
main{  
    margin-top: 20px; 
}
#montecas{
    width: 422px;
    height: 276px;
    margin-left: 525px;
}
#montecastelo{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
}
    header h1{
        padding-top: 0;
    }
h1{
    color: darkcyan;
    border-bottom: solid 2px black;
    text-align: center;
    padding-top: 20px;
}
#educ{
    padding-top: 10px;   
}
.fecha{
   color: darkcyan;
   padding-right: 100px;
    margin-left: 25px;
}
#Toural{
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
}
#Tou{
    width: 400px;
    height: 128px;
    margin-left: 540px;
}
.fecha2{
    color: darkcyan;
   padding-right: 125px;
    margin-left: 25px;
}
#idiomas-1{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    
}
#rees{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
    padding-top: 20px;
    margin-left: 50px;
}
#esp{
    width: 450px;
    height: 250px;
    margin-left: 0px;
}
#gal{
    width: 450px;
    height: 250px;
    margin-left: 50px;
}
#fra{
    width: 450px;
    height: 250px;
    margin-left: 0px;
}
#eng{
    width: 450px;
    height: 250px;
    margin-left: 50px;
}
#Otras{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.compe1{
padding-right: 100px;
}


#css-html{
    width: 450px;
    height: 300px;
    margin-left: 150px;
}
#vbnet{
    width: 500px;
    height: 300px;
    margin-left: 130px; 
}
#compe2{
    margin-top: 20px;
}
#progra{
    display: flex;
    justify-content: space-around
}
#certify{
    margin-top: 40px;   
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold; 
    margin-left: 15px;
    height:46px;
}
#certify p:last-child{
    margin-left:80px;
}
#curso{
    display: flex;
    justify-content: space-around;
}
#javasql{
    width: 400px;
    height: 332px;
    margin-left: 540px;
}
@media (max-width:1220px){
    #css-html{
        margin-left: 100px; 
    }
    #vbnet{
        margin-left: 45px;
    }
}
@media (max-width:1035px){
    #gal{
        margin-bottom: 10px;
    }
    #esp{
        margin-left: 47px;
    }
    #eng{
        margin-bottom: 10px;
    }
    #fra{
        margin-left: 47px;
    }
    #css-html{
        margin-left: 80px;
        margin-right: 120px;
    }
    #vbnet{
        margin-left: -30px;
    }
    #certify{
        margin-top: 0;
    }
    p{
        font-size: 16px;
    }
    #montecas{
        margin-left: 420px;    
    }
    #Tou{
        margin-left: 420px;
    }
    #javasql{
        margin-left: 420px;
    }
}
@media (max-width:874px){
    p{
        font-size: 16px;
        margin-left: 5px !important;
    } 
    #montecas{
       margin-left: 25%;  
    }
    #Tou{
        margin-left: 25%;       
    }
    #javasql{
        margin-left: 25%;      
    }
    #rees{
        text-align: center!important ;
    }
}
@media (max-width:860px){
    #montecastelo{
        display: block;
        text-align: center;
    }
    p.fecha{
        padding-right: 0 !important;
    }
    #Toural{
        display: block;
        text-align: center;
    }
    p.fecha2{
        padding-right: 0 !important;
    }
    #certify{
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
    p.fecha2{
        padding-right: 0 !important;
    }
    #Tou{
        margin-left: 27%;
    }
    .compe1{
        padding-right: 0;
        width: 800px;
        margin-right: 0;
    }

}
@media (max-width:768px){
    
}
@media (max-width:576px){
    
}
