#Info{
    text-align: center;
}
img{
    width: 250px;
    height: 300px;
    margin-left: 30%;
}
i::before{
    padding-right: 10px;
}
i{
    padding-right: 10px;
}
#info2{
    display: flex;
    justify-content: flex-start ;
}
#photo{
    border-right: solid 2px black;
}
#DATS{
    margin-top: 17px;
}
#Empleo{
    padding-right: 40px;
    color: darkcyan;
}
#deseo{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}
main{  
    margin-top: 20px; 
}
h1{
    text-align: center;
}
#montecas{
    width: 422px;
    height: 276px;
    margin-left: 525px;
}
#montecastelo{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
}
h1{
    color: darkcyan;
    border-bottom: solid 2px black;
    text-align: center;
    padding-top: 20px;
}
#educ{
    padding-top: 10px;   
}
.fecha{
   color: darkcyan;
   padding-right: 100px;
    margin-left: 25px;
}
#Toural{
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
}
#Tou{
    width: 400px;
    height: 128px;
    margin-left: 540px;
}
.fecha2{
    color: darkcyan;
   padding-right: 125px;
    margin-left: 25px;
}
#idiomas-1{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    
}
#rees{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
    padding-top: 20px;
    margin-left: 50px;
}
#esp{
    width: 450px;
    height: 250px;
    margin-left: 0px;
}
#gal{
    width: 450px;
    height: 250px;
    margin-left: 50px;
}
#fra{
    width: 450px;
    height: 250px;
    margin-left: 0px;
}
#eng{
    width: 450px;
    height: 250px;
    margin-left: 50px;
}
#Otras{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.progress{
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    width: 450px;
    margin-left:100px;
    margin-top: 10px;
    margin-right: 110px;
}
.compe1{
padding-right: 100px;
}
.progress-bar{
    width: 50%;
    background-color: green !important;
}
#barra{
    flex-wrap: nowrap;
    margin-left: 40px;
}
#clase2{
    width: 25%;
}
#css-html{
    width: 450px;
    height: 300px;
    margin-left: 150px;
}
#vbnet{
    width: 500px;
    height: 300px;
    margin-left: 130px; 
}
#compe2{
    margin-top: 20px;
}
#progra{
    display: flex;
    justify-content: space-around
}
#cuatro{
    margin-left: 65px;
}
#clase3{
    width: 50%;
}
#clase4{
    width: 75%;
}
#certify{
    margin-top: 40px;   
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold; 
    margin-left: 15px;
    height:46px;
}
#certify p:last-child{
    margin-left:180px;
}
#curso{
    display: flex;
    justify-content: space-around;
}
#javasql{
    width: 400px;
    height: 332px;
    margin-left: 540px;
}
@media (max-width:1200px){

}
@media (max-width:992px){
    
}
@media (max-width:768px){
    
}
@media (max-width:576px){
    
}
